body {
  background: rgb(238, 228, 238);
}
.todo_oontainer {

  width: 500px;
  height: 200px;
  border: 1px solid;
  margin: auto;
  background: rgb(80, 1, 80);
  margin-top: 20px;
}
.heading {
  color: aqua;
  margin-right: 15px;
  justify-content: end;
  display: flex;
  align-items: flex-end;
}
.input_text {
  margin: auto;
  height: 30px;
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.input_area {
  height: inherit;
  width: 100%;
}
.btn {
  border-radius: 50%;
  height: 50px;
  width: 60px;
  font-size: 2rem;
  background:  aqua;
  color: rgb(80, 1, 80);
  border: navy;
}
.btn:focus {
  background: rgb(236, 240, 13);
  border: 1px solid white;
}
.input_area:focus {
  border: 1px solid blue;
}
.Show_todo {
  width: 500px;
  height: 100%;
  margin: auto;
  background: rgb(238, 228, 238);
}
.todo_container {
  height: 40px;
  width: 96%;
  border: 1px solid darkblue;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.todos {
  height: inherit;
  width: 85%;
  display: flex;
  align-items: center;
}
